<div class="container centre">
    <h3>Welcome</h3>
    <img src="img/placeholder.png"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sodales ipsum orci, vel condimentum mauris auctor
        ut. Nullam viverra id augue a molestie. Donec lacus felis, vehicula quis pharetra a, consectetur luctus sem. Nam
        blandit, risus et lacinia molestie, urna purus bibendum mi, vel dapibus ligula risus at felis. Nunc vitae ligula
        interdum, dignissim orci et, ultricies arcu. Integer vel fermentum augue. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed sed velit est. Integer ligula leo, euismod porttitor dui in, suscipit fringilla
        lorem. Sed velit ante, congue et quam sit amet, ullamcorper gravida sem.</p>
</div>